* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(185, 75%, 39%);
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  height: 375px;
  width: 350px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-top {
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 37.5%;
  background-image: url('images/bg-pattern-card.svg');
}

.card-picture {
  position: absolute;
  left: 125px;
  top: 25%;
}

.card-picture img {
  border-radius: 100%;
  border: #fff solid 5px;
  width: 100px;
}

.card-bottom {
  background-color: #fff;
  height: 37.5%;
  text-align: center;
  padding: 70px 0;
}

.card-bottom h1 {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  display: inline;
  margin-right: 3px;
}

.card-bottom h2 {
  color: hsl(227, 10%, 46%);
  font-size: 18px;
  display: inline;
  margin-left: 3px;
  font-weight: normal;
}

.card-bottom p {
  color: hsl(227, 10%, 46%);
  font-size: 14px;
  margin: 10px 0;
}

.card-stats {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: 1px solid hsl(0, 0%, 86%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 25%;
}

.card-stats h3 {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 5px;
}

.card-stats p {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
}

.background-top {
  position: absolute;
  top: -500px;
  z-index: -1;
}

.background-bottom {
  position: absolute;
  bottom: -550px;
  right: -200px;
  z-index: -1;
}
